* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', 'sans-serif';
}

.photo {
    background-color: cornflowerblue;
}

.profil-foto {
    background-image: url(assets/foto.png);
}